.sideBar {
  flex: 3;
  margin: 20px;
  padding-bottom: 30px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background: #fafafa;
  border: 0.1px solid rgb(219, 219, 219);
}
.sideBar:hover {
  background: #f1f1f1;
}
.sideBarItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sideBarTitle {
  margin: 10px;
  padding: 5px;
  width: 80%;
  border-top: 1px solid #a7a4a4;
  border-bottom: 1px solid #a7a4a4;
  font-size: 12px;
  color: #222;
  font-weight: 600;
  text-align: center;
}

.imgRight {
  width: 18rem;
  height: 18rem;
  margin-top: 15px;
}
.sideBarItem p {
  padding: 30px;
}

.sideBarList {
  list-style: none;
  margin-bottom: 30px;
}

.sideBarListItem {
  display: inline-block;
  width: 50%;
  margin-top: 15px;
}
.sideBarSocial {
  margin-top: 15px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sideBarIcon {
  font-size: 16px;
  margin-left: 12px;
}
.sideBarIcon:hover {
  color: aqua;
}
